<br>
<div class="card">
  <div class="card-header">
    <%= @post.title %>
  </div>
  <div class="card-body">
    <p class="card-text"><%= @post.content %></p>
  </div>
</div>

<br><br>

<%= form_with(url: "/comments", method: "post") do %>
  <div class="form-group">
    <%= text_area_tag(:content, nil, placeholder: "Post a comment.....", rows: 2, class: "form-control") %>
    <%= hidden_field_tag(:post_id, @post.id) %>
  </div>
  <%= submit_tag("Post Comment", class: "btn btn-primary") %>
<% end %>

<!--<form action="/comments" method="post" classs="new_comment" id="new_comment" accept-charset="UTF-8">-->
<!--  <div class="form-group">-->
<!--    <textarea class="form-control rows" name="content" placeholder="Post a comment ..."></textarea>-->
<!--  </div>-->
<!--  <input value="Post" type="submit" class="btn btn-primary">-->
<!--</form>-->

<br>
<h3>All Comments</h3>
<% if @post.comments.any? %>
  <% @post.comments.each do |comment| %>
    <div class="card w-50">
      <div class="card-body">
        <p class="card-text"><%= comment.content %></p>
        <%= link_to :Delete, comment, method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>
<%else %>
  <div class="card">
    <div class="card-header">
      No Comments Posted Yet.
    </div>
  </div>
<% end %>