<br>
<div class="card">
  <div class="card-header">
    <h5><%= post_current_user_name(@post) %></h5>
  </div>
  <div class="card-body">
    <h4><%= @post.title %></h4>
    <p class="card-text"><%= @post.content %></p>
  </div>
</div>

<br><br>

<%= form_with(url: "/comments", method: "post") do %>
  <div class="form-group">
    <%= text_area_tag(:content, nil, placeholder: "Post a comment.....", rows: 2, class: "form-control") %>
    <%= hidden_field_tag(:post_id, @post.id) %>
  </div>
  <%= submit_tag("Post Comment", class: "btn btn-primary") %>
<% end %>

<br>
<h3>All Comments</h3>
<% if @post.comments.any? %>
  <% @post.comments.each do |comment| %>
    <br>
    <div class="card w-50">
      <div class="card-body">
        <h5><%= comment_current_user(comment) %></h5>
        <p class="card-text"><%= comment.content %></p>
        <% if comment_belong_to_current_user(comment) %>
          <%= link_to :Delete, comment, method: :delete, class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
  <% end %>
<%else %>
  <div class="card">
    <div class="card-header">
      No Comments Posted Yet.
    </div>
  </div>
<% end %>