<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Blog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <% if session[:id] %>
            <li class="nav-item active">
              <a class="nav-link" href="<%= new_post_path %>"> Add Post <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
<!--              <a class="nav-link" href="<%#= signout_path %>"> Sign out <span class="sr-only">(current)</span></a>-->
              <%= link_to "Sign out", signout_path, method: "post", class: "nav-link"%>
            </li>
          <% else %>
            <li class="nav-item active">
              <a class="nav-link" href="<%= login_path %>"> Sign in <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="<%= register_path %>"> Register <span class="sr-only">(current)</span></a>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
